* {
	margin: 0;
	font-family: helvetica
}

body > table {
	margin: auto
}

input {
	width: 40px
}

#campo {
	margin: auto
}

#campo, #campo td {
	border: 1px solid black
}

#campo td {
	text-align: center;
	width: 50px;
	height: 50px;
}