* {
	margin: 0;
	font-family: helvetica
}

body > table {
	margin: auto;
	text-align: center
}

body > table table {
	margin: auto
}

input {
	width: 40px
}

#campo {
	margin: auto;
	border-collapse: collapse
}

#campo, #campo td {
	border: 1px solid black
}

#campo td {
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 175%
}

.aberto {
	cursor: default;
	background-color: #f2f2f2;
	box-shadow: -4px -4px inset #eaeaea, 4px 4px inset #bfbfbf
}

.fechado {
	cursor: pointer;
	box-shadow: -4px -4px inset #bfbfbf, 4px 4px inset #eaeaea
}

.explodiu {
	background-color: #ff9c9c;
	box-shadow: -4px -4px inset #ffc1c1, 4px 4px inset #ff4f4f
}

.vitoria {
	background-color: #e0ffca;
	box-shadow: -4px -4px inset #dbf0cb, 4px 4px inset #c2dbb0
}